
@media (max-width: 992px) {

  #topNavigationBar {
    .nav-item {
      margin: 0px;
    }
    #navigationBarButton {
      margin: 0px;
    }
  }

  #coverRow{
    #featuredCoverImg {
      padding-left: 0px;
    }
  }

}

@media (max-width: 1200px) {
  #page-container {
    width: 100%;
    padding: 0px;
  }
}
