$defaultTextColor: #909090;
$backgroundColor: #0e0e0e;
$firstRowBackColor: #2d2e32;
$secondRowBackColor: #242529;
$rowPadding : 80px;

body,
html {
  background-color: $backgroundColor;
  font-family: 'Exo', sans-serif;

}

.nav-link {
  text-transform: uppercase;
  color: $defaultTextColor;
}

.rowHeader {
  color: white;
  font-weight: 300;
}

.rowHeaderSubtext {
  color: $defaultTextColor;
  padding-top: 5px;
}

#page-container {
  width: 77.5%; //Larghezza container a pagina intera
}

#topNavigationBar {

  .nav-item {
    margin-left: 15px;
  }

  .navbar-brand {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    padding-right: 100px;
  }

  background-color: white;
  font-size: 13px;
  #navigationBarButton {
    margin-left: 15px;
    text-transform: uppercase;
    font-size: 13px;
  }
}

#coverRow {
  background-color: white;
  margin: inherit;

  #featuredCoverImg {
    max-height: 100%;
    max-width: 100%;
    padding-left: 25%;
  }

  #featuredCoverText {
    padding-left: 5%;
    //26:33 Centra il testo verticalmente
    height: auto;
    line-height: 500px;
    text-align: left;

    span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
    color: $defaultTextColor;

    #featuredGameTitle {
      color: black;
    }

    #coverGamePrice {
      font-size: 30px;
      color: black;
    }

    #coverGamePriceText {
      font-style: italic;
    }

    #featuredGameSubtitle {
      text-transform: uppercase;
      letter-spacing: 7px;
    }

    #featuredCoverButton {
      position: relative;
      left: 15px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
    }
  }
}

#libraryRow {
  padding-top: $rowPadding;
  padding-bottom: $rowPadding;
  margin: inherit;
  background-color: $firstRowBackColor;

  #libraryImageRow {
    margin-top: 70px;
    width: 75%;
      .libraryImg {
        max-width: 100%;
        box-shadow: 0px 2px 10px #2b2b2b;
      }
    }
}

#descriptionRow {
  background-color: $secondRowBackColor;
  margin: inherit;
  padding-top: $rowPadding;
  padding-bottom: $rowPadding;

  #iconsRow {
    max-width: 70%;

    .descriptionIcon {
      color: #03c68c;
      font-size: 60px;
    }

    .iconHeader {
      color: white;
    }
    .iconText {
      color: $defaultTextColor;
      font-size: 14px;
      font-weight: 600;
    }
  }
}

#reviewsRow {
  background-color: $firstRowBackColor;
  margin: inherit;
  padding-top: $rowPadding;
  padding-bottom: $rowPadding;
  #reviewsCarousel {
    padding-top: 10px;
    color: white;
    max-width: 800px;
    height: 100px;
    margin: auto;
  }

  .reviewer {
    color: $defaultTextColor;
  }

  .carouselIcon {
    font-size: 40px;
    color: $secondRowBackColor;
    text-shadow: 0px 0px 5px white;
  }
}

#subscriptionsRow {
  background-color: $secondRowBackColor;
  margin: inherit;
  padding-top: $rowPadding;
  padding-bottom: $rowPadding;
  margin: auto;


  #subscriptionsCardsRow {
    max-width: 70%;
    margin: auto;
    margin-top: 50px;
  }
  .subscriptionsCard {
    color: $defaultTextColor;


  }
  .card-title {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 5px;
    padding-top: 20px;
  }
  .btn {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bolder;
  }
  #firstCard {
    margin: auto;
    background-color: #1b1c20;
    .card-title {
      color: white;
    }
    .subscriptionsPrice {
      color: white;
      font-size: 30px;
      vertical-align: middle;
    }

    .btn {
      color: $defaultTextColor;
      border-color: $defaultTextColor;
    }
  }

  #secondCard {
    margin: auto;
    background-color: white;
    .card-title {
      color: black;
    }
    .subscriptionsPrice {
      color: black;
      font-size: 30px;
      vertical-align: middle;
    }

    .btn {
      color: black;
      border-color: black;
    }
  }

  #thirdCard {
    margin: auto;
    background-color: #1b1c20;
    .card-title {
      color: white;
    }
    .subscriptionsPrice {
      color: white;
      font-size: 30px;
      vertical-align: middle;
    }

    .btn {
      color: $defaultTextColor;
      border-color: $defaultTextColor;
    }
  }

}

#finalRow {
  margin: inherit;
  padding-top: $rowPadding;
  padding-bottom: $rowPadding;
  background-color: $firstRowBackColor;

  #loginButton {
    margin-top: 30px;
    font-size: 14px;
    color: $defaultTextColor;
    border-color: $defaultTextColor;
    text-transform: uppercase;
  }

  #subscriptionButton {
    margin-top: 30px;
    font-size: 14px;
    font-weight: bolder;
    text-transform: uppercase;
  }
}
